<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus=""
      [(ngModel)]="newTodo.title"
      (keyup.enter)="addTodo()"
    />
  </header>
  <!-- <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            (click)="toggleTodoComplete(todo)"
            [checked]="todo.complete"
          />
          <label>{{ todo.title }}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section> -->

  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-lg-12">
          <div class="card px-3">
            <div class="card-body">
              <h4 class="card-title">Awesome Todo list</h4>
              <div class="add-items d-flex">
                <input
                  type="text"
                  class="form-control todo-list-input"
                  placeholder="What needs to be done?"
                  autofocus=""
                  [(ngModel)]="newTodo.title"
                  (keyup.enter)="addTodo()"
                />
                <button
                  class="add btn btn-primary font-weight-bold todo-list-add-btn"
                >
                  Add
                </button>
              </div>
              <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse todo-list">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"/> For what
                        reason would it be advisable.
                        <i class="input-helper"></i
                      ></label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked=""/> For
                        what reason would it be advisable for me to think.
                        <i class="input-helper"></i
                      ></label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"/> it be
                        advisable for me to think about business content?
                        <i class="input-helper"></i
                      ></label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"/> Print
                        Statements all <i class="input-helper"></i
                      ></label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked=""/>
                        Call Rampbo <i class="input-helper"></i
                      ></label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"/> Print bills
                        <i class="input-helper"></i
                      ></label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"
      ><strong>{{ todos.length }}</strong>
      {{ todos.length == 1 ? "item" : "items" }} left</span
    >
  </footer>
</section>
